.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr

}

.shop{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    gap: 20px;
    margin-top: 30px;
}
.shopping-cart{
    background-color: #fcd79f;
}